.draggable {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  cursor: grab;

  width: 18.75rem;
  height: 18.75rem;
  margin-top: 2rem;
  padding: 0;

  background-color: transparent;
  border-radius: 50%;
  border: 2px dashed var(--draglable-color);
  animation: pulse 2s ease-in-out infinite;

  span {
    font-size: 1rem;
    position: fixed;
    color: var(--text-color-gray);
    pointer-events: none;
    user-select: none;
  }

  &__circle {
    transition: all 0s ease-in-out;
    
    width: 0;
    height: 0;

    background-color: var(--draglable-color);
    border-radius: 50%;

    position: absolute;
  }
}
